/* Estilos CSS */

div#logoMuestra0 {
    background: url('../img/logo-muestra0-small.png') no-repeat;
    display: block;
    width: 225px;
    height: 75px;
    margin: 5px auto;
}

div.contenido {
    padding: 10px;
}

nav > ul > li.ui-block-b > ul {
    position: absolute;
    top: 50px;
    z-index: 9999;
    display: none;
    border-radius: 5px;
}

.ui-navbar .ui-grid-duo .ui-block-a:last-child .ui-btn {
    margin-right: 0;
}

nav > ul > li.ui-block-b > ul {
    width: 33%;
}

nav > ul > li.ui-block-b > ul > li.ui-block-a {
    width: 100%;
} 

a#enlace5 {
    margin-right: 0px;
}

a#enlacePosts {
    float: right;
    border-radius: 5px;
}

div#popupPosts {
    border: none;
}

div#popupPosts > div {
    margin: 0;
}

div.contenido img {
    display: block;
    margin: 5px auto;
}

div.contenido h1 {
    color: #035d8d;
}

a,
.more-link {
    text-decoration: none;
}

.ui-footer {
    text-align: right;
}

.ui-footer a {
    margin-right: 10px;
}

@media only screen and (max-width: 420px) {

    nav > ul > li.ui-block-b > ul > li.ui-block-a {
        width: 180%;
    } 
    
}

@media only screen and (max-width: 604px) {
    
    div.contenido img {
        width: 100%;
        height: auto;
    }
    
}